@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

h3 {
  margin-bottom: 0;
  text-align: center;
}

small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.fa-heart {
  color: red;
}

.loveMe {
  height: 440px;
  width: 300px;
  background: url('https://lh3.googleusercontent.com/URu69R4Rlxt1RtSR2s2oRcpVVRSccu5j254FmjatQeGF-usRSr_rICmdBFJhl8i2NynTQujzG3ugkrLGJsmgrhSB5puOAHq0QJRsvMvAZHwEFpIrXdhyckjlZ7t3ln7x0GMePdW4nOemuWyoUTOPdBMRp8-RXv1fpDozwVV7Xy--QufRzu5qK2C-Qfj9QSnxCUcc9fFr-hE5uYkBQCaCjNftUZLupDcD2gjaKeS8EA4GkkRKVXxkHxkQHZVfVSLGM3NhMm8lzZxKPLHeLXdnnXOYh69ZpWlnEVwXtyOv4Jh84MIjqDloxod_Jqfol3HeEHTfNdKdzslLEMSxFlH7MIvFe9veIXKURENgp2yV_R7-IE9aNJN1BBP3JjDtlV0Wln0fmstuWd9Q1PSnbYAgUa_xkHTYtL2kbgj09aiOmLr79oUUrgfJUkZO2Hfa4F0b0qNAtx2ezouffTG5jwSg62t0UBIAwwKnwN9g9TKUUFkdFPV57L8Un0lssq5JnLPQcbaFGiDfMsci1g2lzGUbZn4LVhGb61Wpp5jgmlALMZbMQhjRVTZ-tuQzRuSHF_1m-3CEAyFLa1AGbDjGX579gQUT2SxqFsbX3No6SbiHwkKVtUbYr180vGkADu3FfwTdAIN41eT4NQ3mO3mv8YiHJoitsUrB6S4pk5idZPMWDNGPJcNuUoJ673nrJ6x_Sm5IiMfoKVvp2bgRDPnA0jga-N7UjY5kra6DR_WsHUtL2p_Cpfl5xtvfTez_R2GGx0o=w636-h847-no?authuser=0')
    no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

.loveMe .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}

